@import "preboot";

.filterable-portfolio {
	&:before,
	&:after {
		display: table;
		content: " ";
	}

	&:after {
		clear: both;
	}
}

.filterable-portfolio-item {
	&__content {
		position: relative;
		overflow: hidden;
		text-align: center;
		margin: 0;
		padding: 0;
	}

	&__media {
		img {
			transition: transform 300ms;
			max-width: 100%;
			height: auto;
			margin: 0;
			padding: 0;
		}
	}

	&__title {
		color: $color-button-txt;
		font-size: inherit;
		line-height: 1;
		margin: 0 0 1rem 0;
		padding: 0;
		text-align: center;
	}

	&__action {
		font-size: 1rem;
		line-height: 1;
		padding: 0.5rem 1rem;
		font-weight: 400;
		background-color: $color-button-bg;
		color: $color-button-txt;
	}
}