// Vars
// --------------------------------------------------
$color-button-bg: #4cc1be !default;
$color-button-txt: #ffffff !default;

$screen-small: 768px;
$screen-medium: 992px;
$screen-large: 1200px;

// Grids
// ------------------------------------------------------
@mixin grids($size){
	.grid {
		&.#{$size}1 { width:8.33333%; }
		&.#{$size}2 { width:16.66666%; }
		&.#{$size}3 { width:24.99999%; }
		&.#{$size}4 { width:33.33333%; }
		&.#{$size}5 { width:41.66666%; }
		&.#{$size}6 { width:49.99999%; }
		&.#{$size}7 { width:58.33333%; }
		&.#{$size}8 { width:66.66666%; }
		&.#{$size}9 { width:74.99999%; }
		&.#{$size}10 { width:83.33333%; }
		&.#{$size}11 { width:91.66666%; }
		&.#{$size}12 { width:99.99999%; }
	}
}