.fp_gallery_list {
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		float: left;
		margin: 0;
		padding: 0;

		> img {
			margin-right: 10px;
			margin-bottom: 10px;
			display: block;
			box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
		}
	}
}