.fp_slider {
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative;

    .fp_slides {
        position: relative;
        list-style: none;
        overflow: hidden;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .fp_slides li {
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        position: absolute;
        display: none;
        width: 100%;
        left: 0;
        top: 0;

        &:first-child {
            position: relative;
            display: block;
            float: left;
        }
    }

    .fp_slides img {
        display: block;
        height: auto;
        float: left;
        width: 100%;
        border: 0;
    }

    &:hover .fp_slides_nav{
        opacity: 1;
        &.prev { left: 0; }
        &.next { right: 0; }
    }
}

.fp_slides_nav {
    z-index: 3;
    position: absolute;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    top: 50%;
    left: 0;
    opacity: 0;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    margin-top: -45px;
    height: 61px;
    width: 38px;
    background-image: url("../img/themes.gif");
    background-repeat: no-repeat;
    -webkit-transition: .5s;
    transition: .5s;

    &.prev {
        left: -38px;
        right: auto;
        background-position: left top;
    }

    &.next {
        left: auto;
        right: -38px;
        background-position: right top;
    }
}

.fp_slides_tabs {
    
    bottom: 10px;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 10px;
    z-index: 10;

    li {
        display: inline;
        float: none;
        margin-right: 5px;
    }

    a {
        text-indent: -9999px;
        overflow: hidden;
        background: #ccc;
        background: rgba(0,0,0, .4);
        display: inline-block;
        width: 10px;
        height: 10px;
    }
    .fp_slides_here a {
        background: #333333;
        background: rgba(0,0,0, .8);
    }
}